@page
@model GordonITSolutionsWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Gordon IT Solutions</h1>
    <p class="lead">We provide top-notch IT consulting services to help your business thrive.</p>
</div>
