@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gordon It Solutions</h1>
    <p class="="lead">your trusted partner in It consulting.</p>
</div>
