@page
@model GordonITSolutionsWebApp.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}

<div class="text-center">
    <h1 class="display-4">Our Services</h1>
    <p class="lead">We offer a wide range of IT consulting services to help your business succeed.</p>
</div>