@page
@model GordonITSolutionsWebApp.Pages.TestimonialsModel
@{
    ViewData["Title"] = "Testimonials";
}

<div class="text-center">
    <h1 class="display-4">Testimonials</h1>
    <p class="lead">Hear what our clients have to say about our IT consulting services.</p>
</div>