@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Base styles */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #28A745;
  text-decoration: underline;
}

/* Button styling */
.btn-primary {
  color: #fff;
  background-color: #28A745;
  border-color: #218838;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Navbar pills styling */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28A745;
  border-color: #218838;
}

/* Border and box-shadow styling */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

/* Accept policy button */
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer styling */
.footer {
  background-color: #6C757D;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  position: relative;
  bottom: 0;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

